<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecertic.signWallet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Main">
        <activity android:name=".ui.quote.ListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="applinks.rubricae.es"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.base.ScannerQR"
            android:parentActivityName=".ui.quote.ListActivity" />
        <activity
            android:name=".ui.quote.ArticleDetailActivity"
            android:label=""
            android:parentActivityName=".ui.quote.ListActivity" />
        <activity
            android:name=".ui.ViewSamplesActivity"
            android:label="Samples"
            android:parentActivityName=".ui.quote.ListActivity" />
        <activity
            android:name=".ui.SignatureActivity"
            android:label="SignaturePad"
            android:parentActivityName=".ui.quote.ListActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.quote.ListActivity" />
        <activity
            android:name=".ui.base.ScannerQrActivity"
            android:label="@string/title_activity_scanner_qr"
            android:parentActivityName=".ui.quote.ListActivity"
            android:theme="@style/Theme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ecertic.signWallet.ui.quote.ListActivity" />
        </activity>
    </application>

</manifest>